SELECT 
	DB_NAME() AS BD,
	CASE
		WHEN ui.COMPANY = '' THEN '---'
		ELSE ui.COMPANY
	END				AS COMPANY, 
	ugl.GROUPID		AS GROUP_ID, 
	ugi.NAME		AS GROUP_NAME, 
	ui.ID			AS [USER_ID], 
	ui.NAME			AS [USER_NAME], 
	ui.ENABLE		AS [USER_ENABLE],
	1				AS Aux,
	ugl.MODIFIEDDATETIME, ugl.MODIFIEDBY


FROM USERINFO ui
INNER JOIN USERGROUPLIST ugl
	ON ui.ID = ugl.USERID
INNER JOIN USERGROUPINFO ugi
	ON ugl.GROUPID = ugi.ID
WHERE ui.ID in ('jpere')--, 'sarod')

ORDER BY COMPANY, GROUP_ID, [USER_ID]


/*
SELECT TOP 1000 *
FROM [dbo].[USERINFO]
WHERE ID = 'jpere'

SELECT TOP 1000 ID, NAME
FROM [dbo].[USERGROUPINFO]
WHERE ID = 'jpere'

SELECT TOP 1000 *
FROM USERGROUPLIST


SELECT ui.COMPANY, COUNT(*) Cant
FROM USERINFO ui
INNER JOIN USERGROUPLIST ugl
	ON ui.ID = ugl.USERID
INNER JOIN USERGROUPINFO ugi
	ON ugl.GROUPID = ugi.ID
GROUP BY ui.COMPANY
ORDER BY COMPANY
--
	--COMPANY	Cant
	--			1639
	--120		17881
	--125		2266
	--HWB		8




SELECT ui.COMPANY, ui.ENABLE, COUNT(*) Cant
FROM USERINFO ui
INNER JOIN USERGROUPLIST ugl
	ON ui.ID = ugl.USERID
INNER JOIN USERGROUPINFO ugi
	ON ugl.GROUPID = ugi.ID
GROUP BY ui.COMPANY, ui.ENABLE
ORDER BY COMPANY, ENABLE
--
	--COMPANY	ENABLE	Cant -- habilitado = enable 1
	--			0		121
	--			1		1518	**
	--120		0		3147
	--120		1		14734	**
	--125		0		430
	--125		1		1836	**
	--HWB		0		8


*/



SELECT ugl.GROUPID 
FROM USERINFO ui
INNER JOIN USERGROUPLIST ugl
	ON ui.ID = ugl.USERID
INNER JOIN USERGROUPINFO ugi
	ON ugl.GROUPID = ugi.ID
WHERE ui.ID in ('jpere')--, 'sarod')